action {
    width: 100%;
    overflow: auto;

    div {
        overflow: visible !important;
        right: 0px !important;

        button {
            min-width: inherit !important;
        }
    }
}
