things-list {
    width: 100%;
    height: 100%;

    div {
        width: 100%;
        height: 100%;
        display: flex;

        md-sidenav {
            height: auto;

            .action-header {
                height: auto;

                div {
                    overflow: visible !important;
                }
            }
        }
        div {
            width: 100%;
            -webkit-overflow-scrolling: touch;
            overflow-y: scroll;

            md-grid-list {
                width: 100%;
            }
        }
    }
}

@import '../action/action.less';
