things-list {
    width: 100%;
    height: 100%;

    div {
        width: 100%;
        height: 100%;
        display: flex;

        md-sidenav {
            height: 100%;

            div {
                height: auto;
                background-image: none;
            }
        }
        md-grid-list {
            width: 100%;
        }
    }
}
