things-list {
    width: 100%;
    height: 100%;

    div {
        width: 100%;
        height: 100%;
        display: flex;

        md-sidenav {
            height: auto;

            div {
                height: auto;
            }
        }
        div {
            width: 100%;
            overflow: auto;

            md-grid-list {
                width: 100%;
            }
        }
    }
}
