navigation {
    md-toolbar {
        height: 10px;

        div {
            span {
                img {
                    width: 100px;
                    height: 30px;
                }
            }
        }
    }

}
