things-list {
    width: 100%;
    height: 100%;

    .content {
        width: 100%;
        height: 100%;
        display: flex;

        .md-sidenav-left {
            width: 400px;
            height: auto;

            .action-header {
                height: auto;

                div {
                    overflow: visible !important;
                }
            }
        }
    }

    md-content {
        width: 100%;

        .containers {
            width: 100%;
            max-height: none !important;
        }
    }
}

.edison {
    background-image: url("img/edison.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.nodeMCU {
    background-image: url("img/nodeMCU.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.field-container {
    display: flex;

    .field {
        width: 90%;
        margin-top: 16px;
        margin-bottom: 16px;
    }
}
.switch-container {
    width: 10%;
}
.cards {
    margin-left: 4px;
    margin-right: 4px;
    height: 320px;
}

@import '../action/action.less';
