<div class="content">
    <md-sidenav
        id="sidenav"
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-xs')"
        md-whiteframe="4"
        md-hide="false">

        <md-subheader class="md-primary action-header">Actions log</md-subheader>
        <md-content layout-paddiing>
            <action></action>
        </md-content>
    </md-sidenav>
    <md-content class="md-padding" layout-xs="column" layout="row" layout-align="center start">
        <div flex-md flex-gt-sm="50" flex-gt-xs="100" class="containers">
            <md-card ng-repeat="thing in thingsList.things" ng-if="$even" ng-init="init(thing._id)" md-theme="dark-blue">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{ 'Thing ID: ' +  thing._id }}</span>
                        <span class="md-subhead">{{ 'Hardware: ' + thing.hw }}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media1"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-content>
                    <div class="field-container">
                        <h3 class="field">{{ data[thing._id].fields[2] + ': ' + thing[data[thing._id].fields[2]] }}</h3>
                        <div class="switch-container">
                            <md-switch ng-model="switch[thing._id]" aria-label="Switch 1"></md-switch>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
        <div flex-md flex-gt-sm="50" flex-gt-xs="100" class="containers">
            <md-card ng-repeat="thing in thingsList.things" ng-if="$odd" ng-init="init(thing._id)" md-theme="dark-blue">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{ 'Thing ID: ' +  thing._id }}</span>
                        <span class="md-subhead">{{ 'Hardware: ' + thing.hw }}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media2"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-content>
                    <div class="field-container">
                        <h3 class="field">{{ data[thing._id].fields[2] + ': ' + thing[data[thing._id].fields[2]] }}</h3>
                        <div class="switch-container" layout-align="end center">
                            <md-switch ng-model="switch[thing._id]" aria-label="Switch 1"></md-switch>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </md-content>
</div>
