things-list {
    width: 100%;
    height: 100%;

    .content {
        width: 100%;
        height: 100%;
        display: flex;

        .md-sidenav-left {
            height: auto;

            .action-header {
                height: auto;

                div {
                    overflow: visible !important;
                }
            }
        }
    }

    md-content {
        width: 100%;

        .containers {
            width: 100%;
            max-height: none !important;
        }
    }
}

.card-media1 {
    background-image: url("img/edison.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.card-media2 {
    background-image: url("img/nodeMCU.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.field-container {
    display: flex;

    .field {
        width: 90%;
    }
}
.switch-container {
    width: 10%;
}

@import '../action/action.less';
