<div class="content">
    <md-sidenav
        id="sidenav"
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-xs')"
        md-whiteframe="4"
        md-hide="false">

        <md-subheader class="md-primary action-header">Actions log</md-subheader>
        <md-content layout-paddiing>
            <action></action>
        </md-content>
    </md-sidenav>
    <md-content class="md-padding" layout-xs="column" layout="row" layout-align="start start">
        <div flex-md flex-gt-sm="50" flex-gt-xs="100" class="containers">
            <md-card class="cards" ng-repeat="thing in thingsList.things" ng-if="$even" ng-init="init(thing._id)" md-theme="dark-blue">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{ 'Thing ID: ' +  thing._id }}</span>
                        <span class="md-subhead">{{ 'Hardware: ' + hw[thing._id] }}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div ng-class="hw[thing._id]" class="md-media-lg"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-content>
                    <div class="field-container" ng-repeat="n in data[thing._id].fields" ng-if="$index > 0">
                        <h3 id="{{ thing._id + '_' + n }}" class="field">{{ n + ': ' + thing[n] }}</h3>
                        <div class="switch-container" layout-align="end center">
                            <md-switch md-theme="docs-dark" class="md-primary" ng-if="n == 'led'"  ng-model="switch[thing._id]" aria-label="n"></md-switch>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
        <div flex-md flex-gt-sm="50" flex-gt-xs="100" class="containers">
            <md-card class="cards" ng-repeat="thing in thingsList.things" ng-if="$odd" ng-init="init(thing._id)" md-theme="dark-blue">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{ 'Thing ID: ' +  thing._id }}</span>
                        <span class="md-subhead">{{ 'Hardware: ' + hw[thing._id] }}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div ng-class="hw[thing._id]" class="md-media-lg"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-content>
                        <div class="field-container" ng-repeat="n in data[thing._id].fields" ng-if="$index > 0">
                            <h3 id="{{ thing._id + '_' + n }}" class="field">{{ n + ': ' + thing[n] }}</h3>
                            <div class="switch-container" layout-align="end center">
                                <md-switch md-theme="docs-dark" class="md-primary"  ng-if="n == 'led'" ng-model="switch[thing._id]" aria-label="n"></md-switch>
                            </div>
                        </div>
                </md-card-content>
            </md-card>
        </div>
    </md-content>
</div>
